<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
<form th:action="@{/user/save}" th:object="${userDTO}" method="post">
    <div class="form-group">
        <input type="hidden" th:field="*{id}"/>
        <label for="exampleInputEmail1">User name</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" th:field="*{name}">
        <small style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></small>
    </div>
    <div class="form-group">
        <label >Số điện thoại</label>
        <input type="number" class="form-control" th:field="*{phoneNumber}">
        <small style="color: red" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></small>
    </div>
    <div class="form-group">
        <label>Tuổi</label>
        <input type="number" class="form-control" th:field="*{age}">
        <small style="color: red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></small>
    </div>
    <div class="form-group">
        <label >Email</label>
        <input type="text" class="form-control" th:field="*{email}">
        <small style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
</body>
</html>