<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:https="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" th:href="@{/user/create}" method="GET" >Add new User</a>
        <form class="form-inline" th:action="@{/user}">
            <input class="form-control mr-sm-2" type="search" placeholder="Search by blog title" aria-label="Search" name="title">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>
</div>

<div class="container">
    <h3 style="text-align: center">Blog Management</h3>
    <table class="table table-dark">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">User name</th>
            <th scope="col">Age</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user,item : ${userList}">
            <td th:text="${item.count}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.age}"></td>
            <td><a th:href="@{/user/edit/{id}(id=${user.id})}">
                Edit |
            </a>
                <a th:href="@{/user/delete/{id}(id=${user.id})}">
                    Delete |
                </a>
                <a th:href="@{/user/view/{id}(id=${user.id})}">
                    View
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>