<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>List Customer</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>


    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- JS, Popper.js, and jQuery -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>
    <link rel="stylesheet prefetch"
          href="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>
    <style>
        .menu li {
            margin-right: 110px;
        }
    </style>
    <script type="text/javascript">
        function createCustomer() {
            let customerName = document.getElementById("customerName").value;

            let dayOfBirth = document.getElementById("dayOfBirth").value;
            let gender = document.getElementById("gender").value;
            let idCard = document.getElementById("idCard").value;
            let phoneNumber = document.getElementById("phoneNumber").value;
            let email = document.getElementById("email").value;
            let address = document.getElementById("address").value;
            let customerTypeId = document.getElementById("customerTypeId").value;
            let customerCreateDTO = {"customerType":customerTypeId, "address":address, "gender":gender, "fullName":customerName,
            "birthDay":dayOfBirth, "phoneNumber":phoneNumber, "email":email, "idCard":idCard}
            $.ajax({
                headers: {
                    'Accept': "application/json",
                    'Content-Type': "application/json"
                },
                type: "POST",
                data: JSON.stringify(customerCreateDTO),
                url: "/customer/create",
                success: function (customerCreateDTO1) {

                    $('#addCusModal').modal('hide');
                },
                error: function (err) {
                    let string= err.responseText;
                    let string1 = JSON.parse(string)
                    console.log(string1.birthDay)
                    document.getElementById("eName").innerHTML = string1.fullName;
                    document.getElementById("eBirthday").innerHTML = string1.birthDay;
                    document.getElementById("eIdCard").innerHTML = string1.idCard;
                    document.getElementById("ePhoneNumber").innerHTML = string1.phoneNumber;
                    document.getElementById("eEmail").innerHTML = string1.email;
                    document.getElementById("eAddress").innerHTML = string1.address;
                    $('#addCusModal').modal('show');
                }
            })

        }
    </script>
</head>
<body style="background-image: url('https://resortdanang.info/wp-content/uploads/2019/01/resort-furama-da-nang-1024x576.jpg');background-size: cover">
<div class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-3">
                <img style="width: 30%;padding: 15px"
                     src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQlTaPPCcmHWMt6vGZ5QyfBTCSLcbmOys20dg&usqp=CAU">
            </div>
            <div class="col-3"></div>
            <div class="col-3"></div>
            <div class="col-3" style="display: flex;align-items: center">
                <h3 style="color: white" sec:authentication="name"></h3>
                <form th:action="@{/logout}" method="POST">
                    <button type="submit"><i class="fas fa-sign-out-alt"></i></button>
                </form>
            </div>
        </div>
    </div>
</div>
<!--end header-->

<div class="menu" style="background-color: #2d3338;height: 50px">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <ul style="list-style: none;display:flex ;padding-top: 12px">
                    <li><a href="/home">Home</a></li>
                    <li><a href="/employee">Employee</a></li>
                    <li><a href="/customer">Customer</a></li>
                    <li><a href="">Service</a></li>
                    <li><a href="">Contract</a></li>
                    <li class="input-group" style="margin: -6px">
                        <form style="display: flex"th:action="@{/customer}" method="get">
                            <input type="text" id="nameCustomer" name="nameCus" class="form-control"
                                   placeholder="Search by Name Customer">
                            <select class="custom-select" id="customerType" name="customerType">
                                <option selected value="">Customer Type</option>
                                <option th:each="customerT:${customerTypeList}" th:value="${customerT.customerTypeId}" th:text="${customerT.customerTypeName}"></option>
                            </select>
                            <input type="submit" class="btn btn-primary" value="Search">
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--end menu-->
<div>
    <div class="content" style="height: 71vh">
        <div class="container-fluid">
            <div class="row">
                <div class="col-2" style="display: flex;flex-direction: column;margin-top: 85px">
                    <a sec:authorize="hasRole('admin')" href="#addCusModal" class="btn btn-primary" data-toggle="modal" style="margin: 3px"><i
                            class="fa fa-plus"></i> <span>Add New Customer</span></a>
                </div>
                <div class="col-10" style="margin-top: 28px">
                    <h2 style="color: aliceblue ;text-align: center">List Customer</h2>
                    <table class="table table-striped">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Customer type</th>
                            <th scope="col">Name</th>
                            <th scope="col">Date of birth</th>
                            <th scope="col">Gender</th>
                            <th scope="col">ID Card</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Email</th>
                            <th scope="col">Address</th>
                            <th scope="col" sec:authorize="hasRole('admin')" >Action</th>
                        </tr>
                        </thead>
                        <tbody style="background-color: #f7f5f2">
                        <tr class="contentPage" th:each="customer,item : ${customers}">
                            <th th:text="${item.count}"></th>
                            <td th:text="${customer.customerType.customerTypeName}"></td>
                            <td th:text="${customer.fullName}"></td>
                            <td th:text="${customer.birthDay}"></td>
                            <td>
                                <span th:if="${customer.gender}" th:text="male"></span>
                                <span th:if="${!customer.gender}" th:text="female"></span>
                            </td>
                            <td th:text="${customer.idCard}"></td>
                            <td th:text="${customer.phoneNumber}"></td>
                            <td th:text="${customer.email}"></td>
                            <td th:text="${customer.address}"></td>
                            <td>
                                <a sec:authorize="hasRole('admin')" th:href="@{/customer/edit/{id}(id=${customer.customerId})}" class="edit" title="Edit" id="onEdit" >
                                    <i class="material-icons">&#xE254;</i></a>
                                <a sec:authorize="hasRole('admin')" href="#deleteNoteModal" class="delete" data-toggle="modal"
                                   title="Delete" th:onclick="|onDelete(${customer.customerId})|"><i class="material-icons" style="color: red">&#xE872;</i></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <ul id="pagination"></ul>
                    <div class="container" style="background-color: #e9e9e9; text-align: center">
                        <a th:href="@{'/customer'(page=${customers.number - 1},nameCus=${nameCus},customerType=${customerType})}" th:if="${customers.hasPrevious()}">Previous</a>
                        <span th:text="${customers.number + 1}"></span>/<span th:text="${customers.totalPages}"></span>
                        <a th:href="@{'/customer'(page=${customers.number + 1},nameCus=${nameCus},customerType=${customerType})}" th:if="${customers.hasNext()}">Next</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!--end content-->

add Modal HTML
<div id="addCusModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">

            <form>
                <div class="modal-header" style="background: #2d3338">
                    <h4 class="modal-title" style="color: #e9e9e9">Add New Customer</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Name :</label>
                        <input type="text" class="form-control" id="customerName">
                        <small style="color: red" id="eName"></small>
                    </div>
                    <div class="form-group">
                        <label>Date of birth : </label>
                        <input class="form-group" type="date" id="dayOfBirth">
                        <small style="color: red" id="eBirthday"></small>
                    </div>
                    <div class="form-group">
                        <label>Gender :</label>
                        <select id="gender" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">

                            <option value="true">Male</option>
                            <option value="false">Female</option>

                        </select>
                    </div>
                    <div class="form-group">
                        <label>ID Card : </label>
                        <input type="text" class="form-control" id="idCard" pattern="\d{9}|\d{12}"
                               title="Format id card: xxxxxxxxx or xxxxxxxxxxxx">
                        <small style="color: red" id="eIdCard"></small>
                    </div>
                    <div class="form-group">
                        <label>Phone : </label>
                        <input type="text" class="form-control" id="phoneNumber" placeholder="09xx"
                               pattern="(090|091)[\d]{7}" title="Phone number is not format ">
                        <small style="color: red" id="ePhoneNumber"></small>
                    </div>
                    <div class="form-group">
                        <label>Email : </label>
                        <input type="text" class="form-control" id="email" placeholder="abc@abc.abc"
                               pattern="[a-z]+[a-zA-Z0-9]+@[a-zA-Z0-9]+(\.[a-zA-Z0-9]+\.*[a-zA-Z0-9]*)"
                               title="Email is not format">
                        <small style="color: red" id="eEmail"></small>
                    </div>
                    <div class="form-group">
                        <label>Address : </label>
                        <input type="text" class="form-control" id="address">
                        <small style="color: red" id="eAddress"></small>
                    </div>
                    <div class="form-group">
                        <label>Customer Type :</label>
                        <select id="customerTypeId" class="btn btn-secondary dropdown-toggle"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                            <option th:each="custype:${customerTypeList}" th:text="${custype.customerTypeName}"
                                    th:value="${custype.customerTypeId}"></option>

                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-secondary" data-dismiss="modal" value="Cancel">
                    <input type="button" class="btn btn-primary" value="Add" onclick="createCustomer()">
                </div>
            </form>
        </div>
    </div>
</div>


<!-- edit Modal HTML -->
<!--<div id="editCusModal" class="modal fade">-->
<!--    <div class="modal-dialog">-->
<!--        <div class="modal-content">-->
<!--            <form  th:action="@{/customer/edit}" method="post" th:object="${customerDTO}">-->
<!--                <div class="modal-header" style="background: #2d3338">-->
<!--                    <h4 class="modal-title" style="color: #e9e9e9">Edit Customer</h4>-->
<!--                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
<!--                </div>-->
<!--                <div class="modal-body">-->
<!--                    <input type="hidden" name="id" id="idEdit">-->
<!--                    <div class="form-group">-->
<!--                        <label>Name :</label>-->
<!--                        <input type="text" class="form-control" name="Name" id="editname">-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                        <label>Date of birth : </label>-->
<!--                        <div class="input-group date datepicker" data-date-format="dd-mm-yyyy">-->
<!--                            <input class="form-control" readonly="" type="text" name="dateOfBirth" id="birthday"> <span class="input-group-addon"><i class="fa fa-calendar"></i></span></div>-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                        <label>Gender :</label>-->
<!--                        <select name="gender" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="gender">-->

<!--                            <option value="true">Male</option>-->
<!--                            <option value="false">Female</option>-->

<!--                        </select>-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                        <label>ID Card : </label>-->
<!--                        <input type="text" class="form-control" name="CMND" id="CMNDedit" pattern="\d{9}|\d{12}" title="Format id card: xxxxxxxxx or xxxxxxxxxxxx">-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                        <label>Phone : </label>-->
<!--                        <input type="text" class="form-control" name="SDT" id="SDTedit" placeholder="09xx" pattern="(090|091)[\d]{7}" title="Phone number is not format ">-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                        <label>Email : </label>-->
<!--                        <input type="text" class="form-control" name="Email" id="Emailedit" placeholder="abc@abc.abc" pattern="[a-z]+[a-zA-Z0-9]+@[a-zA-Z0-9]+(\.[a-zA-Z0-9]+\.*[a-zA-Z0-9]*)" title="Email is not format">-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                        <label>Address : </label>-->
<!--                        <input type="text" class="form-control" name="Address" id="Addressedit">-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                        <label>Customer Type :</label>-->
<!--                        <select name="CusTypeId" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="cusType">-->

<!--                                <option th:each="custype:${customerTypeList}" th:text="${custype.customerTypeName}"-->
<!--                                        th:value="${custype.customerTypeId}"></option>-->

<!--                        </select>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="modal-footer">-->
<!--                    <input type="button" class="btn btn-secondary" data-dismiss="modal" value="Cancel">-->
<!--                    <input type="submit" class="btn btn-primary" value="Add">-->
<!--                </div>-->
<!--            </form>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->


<!-- Delete Modal HTML -->
<div id="deleteNoteModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form th:action="@{/customer/delete}" method="post">
                <div class="modal-header">
                    <h4 class="modal-title">Delete customer</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="form-group">
                    <input type="hidden" name="id" id="id"/>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete customer ?</p>
                    <label name="title"></label>
                    <p class="text-warning"><small>This action cannot be undone.</small></p>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                    <input type="submit" class="btn btn-danger" value="Delete">
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    function onDelete(id) {
        document.getElementById("id").value = id;

    }
</script>
</body>
</html>